@use "@/shared/sass/mixins.scss" as m;

.speakers {
  background-color: #0c5238;
  padding-top: 5.5rem;

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__head {
    color: #fff5da;
    margin-bottom: 2rem;
  }

  &__title {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 132%;
    color: #fff5da;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  &__text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #fff5da;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    row-gap: 2rem;
  }

  &__btn {
    font-weight: 300;
    font-size: 1rem;
    line-height: 110%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fff5da;
    border: 0.12rem dashed #fff5da;
    border-radius: 5rem;
    padding: 1.2rem 2.4rem;
    display: inline-block;
    transition: 0.3s;
    margin-top: 5rem;
    margin-bottom: 7.5rem;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;

    @include m.hocus() {
      background-color: #252525;
      color: #fff;
    }
  }
}

.speaker {
  display: flex;
  column-gap: 4rem;
  border-bottom: 0.06rem solid rgba(#fff5da, 0.3);
  padding-bottom: 2rem;

  &__figure {
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    width: 25%;
    background-size: cover;
    background-position: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: 300;
    font-size: 1.44rem;
    line-height: 133%;
    color: #fff5da;
    margin-bottom: 0.5rem;
  }

  &__sex {
    font-weight: 400;
    font-size: 0.88rem;
    line-height: 150%;
    color: #fff5da;
    margin-bottom: 0.5rem;
  }

  &__skill {
    font-weight: 400;
    font-size: 1rem;
    line-height: 135%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fff5da;
  }

  &__leader {
    font-weight: 400;
    font-size: 0.69rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #fff5da;
    align-self: flex-start;
    border: 0.06rem solid #fff5da;
    border-radius: 0.12rem;
    padding: 0.3rem 0.75rem;
    margin-top: auto;
  }
}
